body {
    background: #F29F05;
}

header {
    color: #730202;
    font-family: 'arial', cursive;
    text-align: center;
    font-size: 27px;
}

h2 {
    font-family: 'Arial', cursive;
    text-align: center;
    color: #730202;
}

p {
    color: #730202;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.pie {
    width: 100%;
    background-color: #D97904;
    text-align: center;
}

.pie h2 a {
    color: #730202;
    font-size: 25px;
    font-family: 'Arial', cursive;
    padding: 3px 3px;
    margin: 5px 5px;
}


/*GRID*/

.testimonios {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 1em;
    grid-template-rows: minmax(10px auto);
    padding: 20px;
}

.testimonios div:hover {
    background: #D97904;
}

.fotos {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 2em;
    grid-template-rows: minmax(10px auto);
    padding: 10px;
}

.fotos div {
    background-color: #A62F03;
    color: rgb(234, 197, 32);
    padding: 0.5em;
    font-size: 10px;
}

.fotos div:hover {
    border: 1px solid beige;
}


/*OPACIDAD*/

.background {
    background: url(opd.jpg) repeat;
    border: 1px solid #F29F05;
}

.transbox {
    margin: 0px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    opacity: 0.7;
}

.transbox p {
    margin: 1%;
    font-weight: bold;
    color: #000000;
    font-family: 'arial';
}


/*NAVEGADOR*/

.logo {
    background: url(coco.png) no-repeat 80% 80%;
    background-size: contain;
    width: 50px;
    height: 55px;
    float: left;
}

nav {
    overflow: hidden;
    background-color: #D97904;
    padding: 10px 70px;
    margin: 18px 5px;
}

nav a {
    float: left;
    color: #730202;
    padding: 12px;
    font-size: 20px;
    line-height: 25px;
    border-radius: 10px;
    font-family: 'calibri';
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #F29F05;
    color: #730202;
}

.menu {
    float: right;
}


/*BOTON*/

.boton {
    display: none;
    position: absolute;
    right: 20px;
}

.boton span {
    display: block;
    margin: 6px;
    width: 40px;
    height: 2px;
    background: #730202;
}

.boton:hover>span {
    background-color: #730202;
}


/*CELULAR*/

@media only screen and (max-width: 745px) {
    header {
        color: #730202;
        font-size: 20px;
    }
    p {
        color: #730202;
        padding: 10px 10px 10px 10px;
        font-size: 18px;
        margin: 5px;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    nav {
        overflow: hidden;
        background-color: #D97904;
        padding: 10px 27px;
        margin: 18px 5px;
    }
    .menu {
        width: 100%;
        right: 0;
        top: 80px;
        background: #f1f1f1E6;
        overflow: hidden;
        max-height: 0;
    }
    .menu a {
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .boton {
        display: block;
        cursor: pointer;
    }
    .show {
        max-height: 500px;
    }
    .testimonios {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-gap: 1em;
        grid-template-rows: minmax(10px auto);
        padding: 20px;
    }
    .testimonios div:hover {
        background: #D97904;
    }
    .fotos {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        grid-gap: 2em;
        grid-template-rows: minmax(10px auto);
        padding: 10px;
    }
    .fotos div {
        background-color: #F2B705;
        color: rgb(234, 197, 32);
        padding: 0.5em;
        font-size: 10px;
    }
    .fotos div:hover {
        border: 2px solid beige;
    }
}